{% extends "./BASE.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/ask.css' %}">


{% if request.session.user_ID %}
    <h2>Create a poll: Enter a question, and fill the first two choices (required). You can create up to 10 more additional choices. Leave them blank to skip them.</h2>
    <form action="ask" method="post">
        {% csrf_token %}
        {{ form }}
        <p>Please wait for your question to be validated. This process may take up to 5 days.</p>
        <input class = "sButton" type="submit" value="Submit">
    </form>

    <div>
        <a href=".">Back to home page</a>
    </div>  
{% else %}
    <h2>You must be logged in to create a poll.</h2>
{% endif %}

{% endblock %}