h1 {
    color:#d6e5ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    background-color: #8d91cc;
    padding: 30px;
    text-align: center;

    border-radius: 50px;
    margin: 30px;
}

h2 {
    background-color: #4d6875;
    padding: 30px;
    border-radius: 50px;
    margin: 20px 30px;

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #7ba7bd;
    font-size: 35px;
}

form {
    font: 50px Arial, sans-serif;

    padding: 15px;
    margin: 30px 30px;
    border-radius: 50px;
    background-color: #7ba7bd;
    color:rgb(50, 73, 122);
}

input[type=text] {
    box-sizing: border-box;
    width: 1000px;

    border:none;
    border-bottom: 4px solid lightsteelblue;
    font-size: 60%;

    padding: 10px;
    margin-left: 10px;
}

div {
    background-color: #7ba7bd;
    color:rgb(50, 73, 122);
    font: 35px Arial, sans-serif;

    padding: 20px;
    margin: 20px 30px;
    border-radius: 50px;
}

.sButton {
    height: 80px;
    width: 200px;
    background-color: rgb(191, 248, 245);

    padding: 3px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    border-radius: 25px;

    color:#7ba7bd;
    font: 50px Arial, sans-serif;
}


